<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Authentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        {% for message in messages %}
        <div class="alert alert-{{message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message: </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        
        <h3>Sign Up</h3>
        <form action="/signup" method="post" >
        {% csrf_token %}
            <label for="">User name</label>
            <input type="text" id="username" name="username" placeholder="Create a Username (Only letter and numbers)" required>
            <br/>
            <label for="">First Name</label>
            <input type="text" id="fname" name="fname" placeholder="First Name" required>
            <br/>
            <label for="">Last Name</label>
            <input type="text" id="lname" name="lname" placeholder="Last Name" required>
            <br/>
            <label for="">Email ID</label>
            <input type="email" id="email" name="email" placeholder="Email ID">
            <br/>
            <label for="">Password</label>
            <input type="password" id="pass1" name="pass1" placeholder="Password" required>
            <br/>
            <label for="">Confirm Password</label>
            <input type="password" id="pass2" name="pass2" placeholder="Confirm Password" required>
            <br/>
            <button type="submit">SignUp</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>